.title.is-4{
  font-weight: bold;
  display: inline-block;
  padding: 7px;
  background: #52AE35;
  color: #FFF;
}
.title.is-1{
  margin-top: 50px;
}
.title.is-5{
  font-weight: bold;
  color: #52AE35;
  margin-bottom: 2px !important;
  padding: 5px;
  border-bottom: 1px solid #363636;
}
.title.is-3{
  font-weight: bold;
}
.content > p {
  margin-bottom: 3em !important;
}

.register-button {
  text-align: center;
}
.hero-body .title, .hero-body .subtitle {
  text-align: center;
  font-weight: bold;
}
.home-hero{
  background: url('/images/home-header.jpg')
}