.platinum-sponsors img {
  max-width: 200px;
  margin: 0 15px;
}
.gold-sponsors, .platinum-sponsors, .main-sponsors {
  margin: 50px 0;
}
.gold-sponsors img {
  max-width: 80px;
  margin: 0 40px;
}
.main-sponsors img {
  max-width: 300px;
  margin: 0 40px;
}

.sponsor-header{
  text-align: center;
}

.sponsor-container{
  margin-top: 50px !important;
}

.sponsors-hero{
    background: url('/images/sponsor-header.jpg')
}